@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
/* body {
  min-height: 100vh;
  max-width: max-content;
} */
/* textarea */
.text-area::-webkit-scrollbar {
  width: 8px;
}
body {
  background-color: white;
  overflow-x: hidden;
}
select {
  background-color: white;
}
.text-area::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}
.text-area::-webkit-scrollbar-thumb {
  background-color: #c0c0c0;
  border-radius: 100px;
}
/* button */
.chat-bubble {
  background-color: hsl(221, 84%, 95%);
  padding: 16px 28px;
  -webkit-border-radius: 20px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius: 20px;
  -moz-border-radius-bottomleft: 2px;
  border-radius: 20px;
  border-bottom-left-radius: 2px;
  display: inline-block;
}
.typing {
  align-items: center;
  display: flex;
  height: 17px;
}
.typing .dot {
  animation: mercuryTypingAnimation 1.8s infinite ease-in-out;
  background-color: hsl(221, 84%, 70%);
  border-radius: 50%;
  height: 7px;
  margin-right: 4px;
  vertical-align: middle;
  width: 7px;
  display: inline-block;
}
.typing .dot:nth-child(1) {
  animation-delay: 200ms;
}
.typing .dot:nth-child(2) {
  animation-delay: 300ms;
}
.typing .dot:nth-child(3) {
  animation-delay: 400ms;
}
.typing .dot:last-child {
  margin-right: 0;
}

@keyframes mercuryTypingAnimation {
  0% {
    transform: translateY(0px);
    background-color: hsl(221, 84%, 70%);
  }
  28% {
    transform: translateY(-7px);
    background-color: hsl(221, 84%, 80%);
  }
  44% {
    transform: translateY(0px);
    background-color: hsl(221, 84%, 90%);
  }
}
